.detail-container {
    margin-bottom: 15px;
}

.data-label {
    color: #6c6c6c;
    font-size: 1em;
    margin-bottom: -5px;
}

.data-value {
    color: #000000;
    font-size: 1.375em;
}

.delete-button {
    color: #ffffff;
    background: #ff2c31;
    border-color: #ff2c31;
    border-radius: 5px;
}

.delete-button:hover {
    color: #ffffff;
    background: #ff2c31;
    border-color: #ff2c31;
    border-radius: 5px;
}
